@font-face {
    font-family: 'MyFont';
    src: url('assets/font/Goozette.otf') format('woff2'); /* or woff/ttf depending on your file */
    font-weight: normal;
    font-style: normal;
  }

  body {
    background-color: rgb(245, 236, 230);
    color: rgb(48,48,54);
    font-family: "Times New Roman", Times, serif;
    padding: 2rem;
    text-align: center;
  }

 #title{
    position: relative;
    font-size: 4rem;
    top: 10%;
    color: rgb(212, 38, 61);
 } 

 a{
  color: rgb(48,48,54);
  text-decoration: none;;
 }

 .nav{
  position: relative;
  font-size: 1.5rem;
  top: 10%;
  color: rgb(48,48,54);
  text-align: center;
 }

 .nav:hover{
  color: rgb(212, 38, 61);
 }

 .squiggle {
  background-image: linear-gradient(to bottom, rgb(212, 38, 61) 0%, rgb(212, 38, 61) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: rgb(48,48,54);
  text-decoration: none;
}
.squiggle:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-15px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(212, 38, 61)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 4px;
}

 #image-container {
    display: flex;
    gap: 10px;
    width: 620px; /* 5 images * (100px + 10px gap) = 520px */
    flex-wrap: nowrap;
    overflow: hidden;
    
    padding: 1rem;
  }
  .image-item {
    width: 80px;
    height: auto;
  }

  #wrapper {
    padding: 10px;
    background-color: rgb(245, 236, 230);
    z-index: 1000;
    width: 100%;
    position: absolute;
    padding-left: 4%;
    top: -1%;
    left: 0%;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: solid 2px rgb(212, 38, 61);;
  }

  #updates{
    color: white;
    padding: 10px;
    width: 40%;
    height: 70%;
    overflow: scroll !important;
    background-color: rgb(212, 38, 61);

  }

  #updates img {
    max-width: 70%;
    height: auto;
  }

  .product-grid {
    width: 55%;
    height: 70vh;
    overflow: scroll;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .product {
    border: 2px dashed rgb(212, 38, 61);
    padding: 1rem;
    text-align: center;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }

  button {
    background-color: rgb(245, 236, 230);
    border-radius: 5%;
    border: solid 3px rgb(212, 38, 61);
    padding: 10px 50px;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.6s ease;
  }

  button:hover{
    background-color: rgb(212, 38, 61);
    color: white;
    
  }

  #content-wrapper {
    display: flex;
    justify-content: space-between;
    
    gap: 2rem;
    padding: 2rem;
    position: absolute;
    top: 15%;
    left: 2%;
    right: 2%;
    width: 96%;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 768px) {
    body{
      overflow-x: hidden;
    }

    #content-wrapper {
        display: flex;
        flex-direction: column; /* Stack items vertically on smaller screens */
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        position: absolute;
        top: 20%;
        overflow: scroll;
        left:0%;
        width: 100%;
        box-sizing: border-box;
        overflow-x: hxidden;
      }


      

      #updates{
    
        width: 100%;
        height: 70%;
        overflow: scroll;
        background-color: rgb(212, 38, 61);
    
      }
    
      #updates img {
        max-width: 70%;
        height: auto;
      }

     
    
      .product-grid {
        width: 100%;
        height: 120vh;
        overflow: visible;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        margin: 0 auto;
        padding-bottom: 10rem;
      }
    
      .product {
        border: 2px dashed rgb(212, 38, 61);
        padding: 1rem;
        text-align: center;
      }
    
      .product img {
        max-width: 100%;
        height: auto;
      }

      #title{
        position: relative;
        font-size: 2.2rem;
       top: 10%;
        color: rgb(212, 38, 61);
     } 
    
     #image-container {
        display: flex;
        gap: 10px;
        width: 520px;
        height: 20px; /* 5 images * (100px + 10px gap) = 520px */
        flex-wrap: nowrap;
        overflow: hidden;
        
        padding: 1rem;
      }

      .image-item {
        width: 30px;
        height: 30px;
      }
    
      #wrapper {
        padding: 0px;
        background-color: rgb(245, 236, 230);
        z-index: 1000;
        width: 100%;
        position: absolute;
        top: -1%;
        left: 0%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
        column-gap: 5%;
        border-bottom: solid 2px rgb(212, 38, 61);;
      }
    
      .nav{
        position: relative;
        font-size: 1.2rem;
        top: 10%;
        color: rgb(48,48,54);
        text-align: center;
       }
       
       
  }