@font-face {
    font-family: 'MyFont';
    src: url('../assets/font/NoahsHandwrittenTimes-Regular.otf') format('woff2'); /* or woff/ttf depending on your file */
    font-weight: normal;
    font-style: normal;
  }

  body {
    background-color: rgb(245, 236, 230);
    color: rgb(48,48,54);
    font-family: "Times New Roman", Times, serif;
    padding: 2rem;
    text-align: center;
  }

 #title{
  font-family: 'MyFont';
    position: relative;
    font-size: 4rem;
    top: 10%;
    color: rgb(212, 38, 61);
 } 

 a{
  color: rgb(48,48,54);
  text-decoration: none;;
 }

 .nav{
  font-family: 'MyFont';
  position: relative;
  font-size: 1.5rem;
  top: 10%;
  color: rgb(48,48,54);
  text-align: center;
 }

 .nav:hover{
  color: rgb(212, 38, 61);
 }

 .squiggle {
  background-image: linear-gradient(to bottom, rgb(212, 38, 61) 0%, rgb(212, 38, 61) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: rgb(48,48,54);
  text-decoration: none;
}
.squiggle:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-15px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(212, 38, 61)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 4px;
}

#text-container{
    border: 2px dashed rgb(219, 42, 54);
    padding: 1rem;
    text-align: center;
}

#image-container {
  display: flex;
  gap: 10px;
  width: 620px; /* 5 images * (100px + 10px gap) = 520px */
  flex-wrap: nowrap;
  overflow: hidden;
  
  padding: 1rem;
}
.image-item {
  width: 80px;
  height: auto;
}

#wrapper {
  padding: 10px;
  background-color: rgb(245, 236, 230);
  z-index: 1000;
  width: 100%;
  position: absolute;
  padding-left: 4%;
  top: -1%;
  left: 0%;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: solid 2px rgb(212, 38, 61);;
}

  #content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    position: absolute;
    top: 15%;
    left: 2%;
    right: 2%;
    width: 96%;
    box-sizing: border-box;
  }
  
  #imageFun{
    position: relative;
    width: 50%;
  }

  h2{
    font-family: 'MyFont';
  }

 

  #artist-container {
    text-align: left;
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    width: 100%;
    height: 100vh;
    padding: 10px;
  }
  
  #artist-container .artist {
    width: 100%; /* Take up full width of the container */
    border-bottom: 1px solid rgb(212, 38, 61);
    border-top: .5px solid rgb(212, 38, 61); /* Bottom border for each artist */
    padding: 10px;
    cursor: pointer;
  }
  
  .artist-name {
    font-size: 18px;
    display: inline-block;
  }
  
  .artist-location {
    font-size: 14px;
    margin-left: 10px; /* Add padding between the artist name and location */
    color: #555;
  }
  
  .artist-info {
    width: 100%; /* Take up full width of the container */
    padding: 10px;
    display: none; /* Hidden by default */
    transition: all 0.6s ease; /* Smooth transition when toggling */
  }
  
  #artist-container .artist:hover {
    background-color: #e0e0e0; /* Optional hover effect for better interactivity */
  }
  
  /* Style for when info is revealed */
  .show-info {
    display: block;
  }
  
  @media only screen and (max-width: 768px) {
    #content-wrapper {
        display: flex;
        flex-direction: column; /* Stack items vertically on smaller screens */
        justify-content: space-between;
        gap: 2rem;
        padding: 2rem;
        position: absolute;
        left: 0%;
        top: 25%;
        overflow: scroll !important;
        width: 100%;
        box-sizing: border-box;
      }

      #TitleCard {
        padding: 20px;
        background-color: rgb(212, 38, 61);
        width: 90%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        margin: auto;
    }
    
    #carousel-image {
        position: relative;
        display: flex;  /* Enables Flexbox */
        justify-content: center;  /* Horizontally center the image */
        align-items: center;  /* Vertically center the image */
        width: 100%;
        height: 20%;
       
        cursor: pointer; 
        transition: opacity 0.5s ease-in-out;
    }
    
    #carousel-image img {
        max-width: 100%;  /* Make sure the image scales within its container */
          /* Maintain the aspect ratio of the image */
    }
    
    
      #info{
        border: 2px dashed rgb(212, 38, 61);
        width: 100%;
        padding: 10px;
        height: 60vh;
        overflow: visible
      }

      #title{
        position: relative;
        font-size: 2.2rem;
       top: 10%;
        color: rgb(212, 38, 61);
     } 
    
     #image-container {
        display: flex;
        gap: 10px;
        width: 520px;
        height: 20px; /* 5 images * (100px + 10px gap) = 520px */
        flex-wrap: nowrap;
        overflow: hidden;
        
        padding: 1rem;
      }

      .image-item {
        width: 30px;
        height: 30px;
      }
    
      #wrapper {
        padding: 0px;
        background-color: rgb(245, 236, 230);
        z-index: 1000;
        width: 100%;
        position: absolute;
        top: -1%;
        left: 0%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
        column-gap: 5%;
        border-bottom: solid 2px rgb(219, 42, 54);;
      }
    
      .nav{
        position: relative;
        font-size: 1.2rem;
        top: 10%;
        color: rgb(48,48,54);
        text-align: center;
       }
    
  }